

.navbar .navbar-nav .nav-link {
    color: rgba(242, 244, 246, 0.6);
}

nav .navbar .navbar-nav .navbar-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-right: 8px;
}

nav ul li a {
    margin-right: 8px;
}

nav ul li a:hover {
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 0;
    margin-right: 8px;
}

nav ul li a:active {
    font-weight: bolder;
}

.nav-right-section {
    position: absolute;
    top: 1em;
    right: 0em;
    z-index: 9999;
    color: white ;
}

.avatar {
    width: 35px;
    height: 35px;
    padding: 0px;
}

.btn-sm {
    padding: 0rem;
    margin-top: 0rem;
} 
footer a {
    text-decoration: none;
    color: rgba(242, 244, 246, 0.404);
  }
  
  footer div a.btn {
    color: rgba(242, 244, 246, 0.404);
    border-color: rgba(242, 244, 246, 0.404);
  }