
.navbar .navbar-nav .nav-link {
    color: rgba(242, 244, 246, 0.6);
}

nav .navbar .navbar-nav .navbar-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-right: 8px;
}

nav ul li a {
    margin-right: 8px;
}

nav ul li a:hover {
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 0;
    margin-right: 8px;
}

nav ul li a:visited {
    font-weight: bolder;
}

.nav-right-section {
    position: absolute;
    top: 1em;
    right: 0em;
    z-index: 9999;
    color: white;
}

.avatar {
    width: 35px;
    height: 35px;
    padding: 0px;
}

.bi-caret-down-fill {
    color: white    ;
}

#avatar-button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h2 {
    color: white;
}

.btn-dark-genres {
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: white;
    background-color: black;
    padding: 5px;
}

.icon-color {
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: white;
}

footer a {
    text-decoration: none;
    color: rgba(242, 244, 246, 0.404);
}

footer div a.btn {
    color: rgba(242, 244, 246, 0.404);
    border-color: rgba(242, 244, 246, 0.404);
}
