nav.navbar {
    background-image: -webkit-linear-gradient(
        top,
        rgba(27, 37, 48, 0.85)
    );
    background-image:  -o-linear-gradient(
        top,
        #1b2530 0,
        rgba(27, 37, 48, 0.85) 100%
    );
    background-image: linear-gradient(180deg, #1b2530 0, rgba(27, 37, 48, 0.85));
}