body{
    background-color: #0f171e;
}

nav.navbar {
    background-color:#0f171e;
}

.navbar .navbar-nav .nav-link {
    color: rgba(242, 244, 246, 0.6);
}

nav .navbar .navbar-nav .navbar-link {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-right: 8px;
}

nav ul li a {
    margin-right: 8px;
}

nav ul li a:hover {
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 0;
    margin-right: 8px;
}

nav ul li a:active {
    font-weight: bolder;
}

.nav-right-section {
    position: absolute;
    top: 1em;
    right: 0em;
    z-index: 9999;
    color: white    ;
}

.avatar {
    width: 35px;
    height: 35px;
    padding: 0px;
}

.btn-sm {
    padding: 0rem;
    margin-top: 0rem;
}

h2 {
    color: white;
}

.btn-dark-genres {
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: white;
    background-color: black;
    padding: 5px;
}

.icon-color {
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-color: white;
}